.wrapper {
    display: flex;
    gap: 168px;
}

.name, .phone {
    display: flex;
    flex-direction: column;
}

.title {
    color: #fff;
    font-size: 17px;
    font-weight: 400;
    line-height: 140%;
}

.subtitle {
    color: #fff;
    font-size: 21px;
    font-weight: 500;
    margin-top: 20px;
    margin-left: 30px;
}